body {
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ddd;
}

/* class */
.role {
  color: gray;
}

/* id */
#role {
  color: red;
}

/* html element */
nav {
  background: #d23232;
  color: white;
  padding: 20px;
  text-align: right;

  li {
    display: inline;
    /* margin-right: 20px;  */
    /* margin: 20px; */
    /* margin: 20px 10px; */
    margin: 10px 20px 0 0;
  }

  a {
    color: white;
    text-decoration: none; 
  }
}

label {
  display: block;
  margin: 10px 0;
}

.label {
  font-weight: bold;
  color: blue;
}

main {
  width: 600px;
  margin: 20px auto;
  border: 1px solid #be0c0c;
  padding: 20px;
  border-radius: 20px;
  background: white;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 30px;
  background-color: #d23232;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 10px;
}

.name {
  font-weight:bolder;
  color: navy;
}

li {
  list-style:decimal-leading-zero;
}

